In [1]:
24000

24000

In [2]:
24000-10000

14000

In [3]:
14000-5000

9000

In [4]:
salary = 24000
salary

24000

In [5]:
house_rent = 10000
food_exp = 5000

In [6]:
food_exp

5000

In [7]:
total_expense = house_rent + food_exp
total_expense

15000

In [8]:
total_saving = salary -total_expense

In [9]:
total_saving

9000

In [12]:
print('My saving in a year is $',total_saving)

My saving in a year is $ 9000

In [13]:
course_fee = 299
num_of_months = 6

In [16]:
total_fee = course_fee * num_of_months
print("Total fee for course is :",total_fee)

Total fee for course is : 1794

In [17]:
num_1 = 2
num_2 = 2

In [18]:
print(num_1+num_2)

4

In [19]:
total = num_1 + num_2
print(total)

4

In [20]:
"day" + "light"

'daylight'

In [24]:
num_1 = 2
num_2 = 2

In [25]:
num_1 + num_2

4

In [29]:
x = True
y = False

In [31]:
print('x and y is:', x and y)

x and y is: False

In [32]:
print('x and y is:', x or y)

x and y is: True

In [33]:
print('not x is:', not x)

not x is: False

In [34]:
print('not y is:', not y)

not y is: True

In [35]:
x = "awesome"
x

'awesome'

In [36]:
print("Python is "+x)

Python is awesome

In [39]:
x = "Python is "
y = "awesome "

z = x + y

print(z)

Python is awesome

In [40]:
a = z * 4
print(a)

Python is awesome Python is awesome Python is awesome Python is awesome

In [41]:
len(a)

72

In [42]:
len(x)

10

In [43]:
len(z)

18

In [44]:
x = y = z = "Python"

print(x)
print(y)
print(z)

Python
Python
Python

In [45]:
if x == y:
    print("Equal")

Equal

In [47]:
x = y == z
print(x)

True

In [49]:
b = y == z
print(b)

True

In [50]:
b

True

In [54]:
b == x

True

In [55]:
a,b,c = 5,3.2,"Hello"

print(a)
print(b)
print(c)

5
3.2
Hello

In [56]:
color_a = "Red"
color_b = "Blue"

print(color_a,color_b)

Red Blue

In [57]:
color_c =  color_a
print(color_a,color_b,color_c)

Red Blue Red

In [58]:
color_a = color_b
print(color_a,color_b,color_c)

Blue Blue Red